body, h1, h2, li {
 margin:0;
 padding:0;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
 background-image: url("blaalys.jpg"); 
 background-size: 100%;
 background-color: white;
}
h1 {
 padding:10px;
 background:white;
}

.topnav {
    background-color: white;
    overflow: hidden;
    
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: black;
    color: white;
  }
  

  .topnav a.active {
    background-color: black;
    color: white;
  }

/* Read Users */

#userList {
 padding:0;
 float:left;
 column-count: 3;
 column-gap: 0.1em;
 column-width: 150px;
 margin:10px;
 background: white;
 border:0px solid #85888fd8;
 list-style: none;
 list-style-position: inside;
 font-size: 0.9em;
}

#userList h2 {
 padding:10px;
 margin:0;
 color:black;
}

#userList li {
 padding:5px 10px;
 cursor: pointer;
 color:black;
 background: white;
 
}

#userList li:hover {
 background: black;
 color: white;
}

#drapInfo {
 float: left;
 width: 25%;
 margin:10px;
 margin-left:0;
 padding:10px;
 background: white;
 border:1px solid #85888fd8;
 color:black;
 font-size: 14px;
}

/* Add User */

#add-user-module {
    float:left;
    width:30px;
    margin-bottom: 1px;
    margin-left: 10px;
    margin-top:10px;
   }
   
   #add-user-module #open-add-user-form-btn {
   background: rgb(19, 77, 187);
   font-size: 1.5em;
   color: white;
   padding-bottom: 5px;
   }
   
   #add-user-module form {
    position: absolute;
    padding: 10px;
    width: 350px;
    background-color: #e1e1e1;
    border: 1px solid #999;
    display: none;
    column-count: 2;
    column-width: 100px;
    column-gap: 1em;
    font-size: 0.8em;
   }
   
   
   #add-user-module form button {
    background: rgb(19, 77, 187);
    font-size: 1.3em;
    padding: 0px 10px;
    color: white;
    margin-top: 10px;
   }


#edit-user-module {
    display: none;
    position: absolute;
    background-color: #e1e1e1;
    border: 1px solid #999;
    top: 149px;
    left: 160px;
    padding: 10px;
    width: 360px;
    column-count: 2;
    column-width: 100px;
    column-gap: 1em;
    font-size: 0.8em;
  }
  
  #user-list li:hover~#edit-user-module {
    display: none;
  }
  
  #edit-user-module form button {
   background: rgb(19, 77, 187);
   font-size: 1.3em;
   padding: 0px 10px;
   color: white;
   margin-top: 10px;
  }

#faktaboks {
  background: white; 
  float: left;
  width: 360px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  border: 1px gray;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 5px;
}

#hjelp {
  background: white;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  margin: 10px;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px; 
  width: 25%;
  float: left;
}


table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid rgb(77, 74, 74);
  border-collapse: collapse;
  text-align:left;
  padding: 5px;
  margin-bottom: 40px;
  font-size: 0.9em;
  max-width: 100%;
}

@media only screen and (max-width: 1300px) {
  table.dataframe, .dataframe th, .dataframe td {

  max-width: 100%;
  padding: 5px;
  font-size: 0.8em;
}
}

.drap th {
    background-color: rgba(238, 238, 238, 0.74);
    color: rgb(12, 6, 6);
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }
tr:hover            { background-color:#ffff99; }

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}