
  <section id="add-user-module">
      <button id="open-add-user-form-btn" onclick="openForm()">+</button>
      <form id="inputForm">
      Dato:<br>
      <input type='text' data-key='Dato' class='user-input'><br>
      Sted:<br>
      <input type='text' data-key='Sted' class='user-input'><br>
      Kommune:<br>
      <input type='text' data-key='Kommune' class='user-input'><br>
      Fylke:<br>
          <select class="user-input" data-key='Fylke'>
                <option value="Rogaland">Rogaland</option>
                <option value="Østfold">Østfold</option>
                <option value="Akershus">Akershus</option>
                <option value="Oslo">Oslo</option>
                <option value="Hedmark">Hedmark</option>
                <option value="Oppland">Oppland</option>
                <option value="Buskerud">Buskerud</option>
                <option value="Vestfold">Vestfold</option>
                <option value="Telemark">Telemark</option>
                <option value="Aust-Agder">Aust-Agder</option>
                <option value="Vest-Agder">Vest-Agder</option>
                <option value="Hordaland">Hordaland</option>
                <option value="Sogn og Fjordane">Sogn og Fjordane</option>
                <option value="Møre og Romsdal">Møre og Romsdal</option>
                <option value="Trøndelag">Trøndelag</option>
                <option value="Nordland">Nordland</option>
                <option value="Troms">Troms</option>
                <option value="Finnmark">Finnmark</option>
              </select><br>
      Kvinnelige ofre:<br>
      <input type='number' data-key='Kvinnelige ofre' class='user-input' min='0' max='100'><br>
      Mannlige ofre:<br>
      <input type='number' data-key='Mannlige ofre' class='user-input' min='0' max='100'><br>
      Ukjent kjønn:<br>
      <input type='number' data-key='Ukjent kjønn ofre' class='user-input' min='0' max='100'><br>
      Alder offer:<br>
      <input type='number' data-key='Alder offer' class='user-input' min='0' max='140'><br>
      Pågrepne kvinner:<br>
      <input type='number' data-key='Pågrepne kvinner' class='user-input' min='0' max='100'><br><br><br>
      Pågrepne menn:<br>
      <input type='number' data-key='Pågrepne menn' class='user-input' min='0' max='100'><br>
      Definert som drap:<br>
      <select class="user-input" data-key='Definert som drap'>
            <option value="Ja">Ja</option>
            <option value="Nei">Nei</option>
      </select><br>
      Relasjon til offer:<br>
      <select class="user-input" data-key='Relasjon til offer'>
            <option value="ukjent">Ukjent</option>
            <option value="partner">Partner</option>
            <option value="eks-Partner">Eks-Partner</option>
            <option value="ingen">Ingen</option>
            <option value="forelder">Forelder</option>
            <option value="barn av">Barn av</option>
            <option value="venn/bekjent">Venn/bekjent</option>
            <option value="annen familie">Annen familie</option>
            </select><br>
      Status:<br>
      <select class='user-input' data-key='Status'><br>
            <option value="Siktet">Siktet</option>
            <option value="Tiltalt">Tiltalt</option>
            <option value="Dømt">Dømt</option>
            <option value="Dømt men anket">Dømt men anket</option>
            <option value="Tvungent psykisk helsevern">Tvungent psykisk helsevern</option>
      </select><br>
      Dom:<br>
      <input type='text' data-key='Dom' class='user-input'><br>
      Utenlandske pågrepne:<br>
      <input type='number' data-key='Utenlandsk pågr' class='user-input'><br>
      Våpen:<br>
      <select class="user-input" data-key='Våpen'>
            <option value="kniv/stikkvåpen">Kniv/stikkvåpen</option>
            <option value="øks">Øks</option>
            <option value="skytevåpen">Skytevåpen</option>
            <option value="kvelning">Kvelning</option>
            <option value="stump vold">Stump vold</option>
            <option value="ukjent">Ukjent</option>
            <option value="annen">Annen</option>
            </select><br>
      Merknad:<br>
      <input type='text' data-key='Merknad' class='user-input'><br>
      Informasjon:<br>
      <input type='text' data-key='Informasjon' class='user-input'><br>
          <button onclick="areYouSure()" type='button' id="add-user-btn">Legg til</button>
          <button type='button' id="closeFormButton" onclick="closeForm()">Lukk</button>
        </form>
    </section>
 
 <ul id="userList"></ul>

<div id="drapInfo">
 <p>Trykk på en dato i listen til venstre.<strong class="detailDato"></strong></p>

 </div>

 <!-- Rediger drap -->
 <section id="edit-user-module">
    <form>
    <input type="hidden" class="edit-userid">
    Dato:<br>
      <input type='text' data-key='Dato' class='edit-user-input'><br>
      Sted:<br>
      <input type='text' data-key='Sted' class='edit-user-input'><br>
      Kommune:<br>
      <input type='text' data-key='Kommune' class='edit-user-input'><br>
      Fylke:<br>
          <select class="edit-user-input" data-key='Fylke'>
                <option value="Rogaland">Rogaland</option>
                <option value="Østfold">Østfold</option>
                <option value="Akershus">Akershus</option>
                <option value="Oslo">Oslo</option>
                <option value="Hedmark">Hedmark</option>
                <option value="Oppland">Oppland</option>
                <option value="Buskerud">Buskerud</option>
                <option value="Vestfold">Vestfold</option>
                <option value="Telemark">Telemark</option>
                <option value="Aust-Agder">Aust-Agder</option>
                <option value="Vest-Agder">Vest-Agder</option>
                <option value="Hordaland">Hordaland</option>
                <option value="Sogn og Fjordane">Sogn og Fjordane</option>
                <option value="Møre og Romsdal">Møre og Romsdal</option>
                <option value="Trøndelag">Trøndelag</option>
                <option value="Nordland">Nordland</option>
                <option value="Troms">Troms</option>
                <option value="Finnmark">Finnmark</option>
              </select><br>
      Kvinnelige ofre:<br>
      <input type='number' data-key='Kvinnelige ofre' class='edit-user-input' min='0' max='100'><br>
      Mannlige ofre:<br>
      <input type='number' data-key='Mannlige ofre' class='edit-user-input' min='0' max='100'><br>
      Ukjent kjønn:<br>
      <input type='number' data-key='Ukjent kjønn ofre' class='edit-user-input' min='0' max='100'><br>
      Alder offer:<br>
      <input type='number' data-key='Alder offer' class='edit-user-input' min='0' max='140'><br>
      Pågrepne kvinner:<br>
      <input type='number' data-key='Pågrepne kvinner' class='edit-user-input' min='0' max='100'><br><br><br>
      Pågrepne menn:<br>
      <input type='number' data-key='Pågrepne menn' class='edit-user-input' min='0' max='100'><br>
      Definert som drap:<br>
      <select class="edit-user-input" data-key='Definert som drap'>
            <option value="Ja">Ja</option>
            <option value="Nei">Nei</option>
      </select><br>
      Relasjon til offer:<br>
      <select class="edit-user-input" data-key='Relasjon til offer'>
            <option value="ukjent">Ukjent</option>
            <option value="partner">Partner</option>
            <option value="eks-Partner">Eks-Partner</option>
            <option value="ingen">Ingen</option>
            <option value="forelder">Forelder</option>
            <option value="barn av">Barn av</option>
            <option value="venn/bekjent">Venn/bekjent</option>
            <option value="annen familie">Annen familie</option>
            </select><br>
            Status:<br>
            <select class='edit-user-input' data-key='Status'><br>
                  <option value="Siktet">Siktet</option>
                  <option value="Tiltalt">Tiltalt</option>
                  <option value="Dømt">Dømt</option>
                  <option value="Dømt men anket">Dømt men anket</option>
                  <option value="Tvungent psykisk helsevern">Tvungent psykisk helsevern</option>
                  </select><br>
      Dom:<br>
      <input type='text' data-key='Dom' class='edit-user-input'><br>
      Utenlandske pågrepne:<br>
      <input type='number' data-key='Utenlandsk pågr' class='edit-user-input'><br>
      Våpen:<br>
      <select class="edit-user-input" data-key='Våpen'>
            <option value="kniv/stikkvåpen">Kniv/stikkvåpen</option>
            <option value="øks">Øks</option>
            <option value="skytevåpen">Skytevåpen</option>
            <option value="kvelning">Kvelning</option>
            <option value="stump vold">Stump vold</option>
            <option value="ukjent">Ukjent</option>
            <option value="annen">Annen</option>
            </select><br>
      Merknad:<br>
      <input type='text' data-key='Merknad' class='edit-user-input'><br>
      Informasjon:<br>
      <input type='text' data-key='Informasjon' class='edit-user-input'><br>
    <button type='button' id="edit-user-btn">Ferdig</button>
    </form>
    </section>