<!DOCTYPE html>
<html>

 <head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="Cache-Control" content="no-store" />
 <title>NTBs drapsrobot</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 <link rel="icon" href="/static/myicon.png"> 
 
<!-- Choose database year -->

<script type="text/javascript">var brukerAar = '2022';</script> 

 </head>

 <body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.9.0/Sortable.js"></script>

{% include 'topmenu.html' %}

 <h1>NTBs database for norske drap i 2022</h1>

  <!-- Legg til nytt drap -->

{% include 'homicide_form.html' %}

<div id = 'hjelp'>
<h3>Trenger du hjelp?</h3>
<p>Bruk det blå krysset helt til venstre for å legge til et nytt drap. Når du er ferdig og trykker på «legg til», oppdateres databasen automatisk. </p>
<p>Trykk på et av drapene under overskriften for nærmere info. Bruk blyantknappen for å endre og krysset for å slette et drap.</p>
<p>Vil du generere faktabokser og sende dem til Superdesk? Trykk på «lag artikler» i toppmenyen.</p>

<h3>Viktig:</h3>
<p><i>All data <b>må</b> føres inn i riktig format. Det vil si tall der det skal være tall, og tekst der tekst hører hjemme.</p>
<p>Om du for eksempel fører inn tekst i feltet «Alder offer», vil det ødelegge for artikkelgenereringen.</p>
<p>Tall føres inn som tall, ikke med bokstaver. Unntaket er aldersspenn, som «30-årene».</p></i>
</div>
 
<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-auth.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app2.js') }}"></script>
 </body>

</html>