<div class="topnav">
    <a class="active" href="/">Database</a>
    <a href="/drap">Se tabell</a>
    <a href="/robot">Lag artikler</a>
    <a href="/lag_json">Lag JSON</a>
    <div class="dropdown">
      <button class="dropbtn">Bytt år
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href ="/">2019</a>
        <a href="/2018">2018</a>
        <a href="/2017">2017</a>
        <a href="/2016">2016</a>
        <a href="/2015">2015</a>
        <a href="/2014">2014</a>
      </div>
    </div> 
</div>