<!doctype html>

<head>
  <title>NTBs drapsrobot</title>
  <link rel="stylesheet" href="/static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="topnav">
    <a class="active" href="/">Database</a>
    <a href="/drap">Se tabell</a>
    <a href="/robot">Lag artikler</a>
    <a href="/lag_json">Lag JSON</a>
</div>

<h1>Lag artikler</h1>

<div id="faktaboks">
<h3>Løpende oppsummering:</h3>
<a href="/ftp_lopende">Send til Superdesk</a>
{% for linje in fakta_aar_lopende %}
<p>{{ linje }}</p>
  {% endfor %}
</div>

<div id="faktaboks">
<h3>Langfakta:</h3>
<a href="/ftp_lang">Send til Superdesk</a>
{% for linje in fakta_aar_lang %}
<p>{{ linje }}</p>
{% endfor %}
</div>

<div id="faktaboks">
<h3>Årsoppsummering:</h3>
<a href="/ftp_aarsslutt">Send til Superdesk</a>
{% for linje in fakta_aar_slutt %}
<p>{{ linje }}</p>
{% endfor %}
</div>
</body>
