a, h1, h2, h4       { color: black; }
h1, h2          { margin: 0; }
h1              { border-bottom: 1px solid #eee; }
h2              { font-size: 1.2em; }
h3 {
  color: navy;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid rgb(77, 74, 74);
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}


drap th {
    background-color: rgba(238, 238, 238, 0.74);
    color: rgb(12, 6, 6);
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }
tr:hover            { background-color: #ffff99;}