<!DOCTYPE html>
<html>

 <head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="Cache-Control" content="no-store" />
 <title>NTBs drapsrobot</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 <link rel="icon" href="/static/myicon.png"> 

<script type="text/javascript">var brukerAar = 'tidslinjer';</script>

 </head>

 <body>
       
{% include 'topmenu.html' %}

 <h1>NTBs nyhetstidslinjer</h1>

  <!-- Legg til nytt drap -->

  <section id="add-user-module">
    <button id="open-add-user-form-btn" onclick="openForm()">+</button>
    <form id="inputForm">
      Dato:<br>
      <input type='text' data-key='Dato' class='user-input'><br><br>
      <br>Hendelse:<br>
      <input type='text' data-key='Hendelse' class='user-input'><br>
      <button type='button' id="add-user-btn">Legg til</button>
      <button type='button' id="closeFormButton" onclick="closeForm()">Lukk</button>
    </form>
</section>
 
 <ul id="userList"></ul>

<div id="drapInfo">
 <p>Trykk på en dato i listen til venstre.<strong class="detailDato"></strong></p>

 </div>

 <!-- Rediger drap -->
 <section id="edit-user-module">
    <form>
    <input type="hidden" class="edit-userid">
    Dato:<br>
      <input type='text' data-key='Dato' class='edit-user-input'><br><br>
      <br>Hendelse:<br>
      <input type='text' data-key='Hendelse' class='edit-user-input'><br>
          <button onclick="areYouSure()" type='button' id="edit-user-btn">Ferdig</button>
        </form>
    </section>

<div id = 'hjelp'>
<h3>Trenger du hjelp?</h3>
<p>Bruk det blå krysset helt til venstre for å legge til et nytt drap. Når du er ferdig og trykker på «legg til», oppdateres databasen automatisk. </p>
<p>Trykk på et av drapene under overskriften for nærmere info. Bruk blyantknappen for å endre og krysset for å slette et drap.</p>
<p>Vil du generere faktabokser og sende dem til Superdesk? Trykk på «lag artikler» i toppmenyen.</p>

<h3>Viktig:</h3>
<p><i>All data <b>må</b> føres inn i riktig format. Det vil si tall der det skal være tall, og tekst der tekst hører hjemme.</p>
<p>Om du for eksempel fører inn tekst i feltet «Alder offer», vil det ødelegge for artikkelgenereringen.</p>
<p>Tall føres inn som tall, ikke med bokstaver. Unntaket er aldersspenn, som «30-årene».</p></i>
</div>
 
 <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='app2.js') }}"></script>
 </body>

</html>