<div class="topnav">
    <a class="active" href="/">Database</a>
    <a href="/drap">Se tabell</a>
    <a href="/robot">Lag artikler</a>
    <div class="dropdown">
    <button class="dropbtn">JSON-versjon
      <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
      <a href="/lag_json?aar=2022">Last ned JSON</a>
      <a href="/send_nhg">Send til Nyhetsgrafikk</a>
      </div>
</div>
    <div class="dropdown">
      <button class="dropbtn">Bytt år
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href ="?aar=2022">2022</a>
        <a href ="?aar=2021">2021</a>
        <a href ="?aar=2020">2020</a>
        <a href ="?aar=2019">2019</a>
        <a href="?aar=2018">2018</a>
        <a href="?aar=2017">2017</a>
        <a href="?aar=2016">2016</a>
        <a href="?aar=2015">2015</a>
        <a href="?aar=2014">2014</a>
      </div>
    </div> 
</div>