<!doctype html>
<head>
<title>NTBs drapsrobot</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Database</a>
    <a href="/drap">Se tabell</a>
    <a href="/robot">Lag artikler</a>
    <a href="/lag_json">Lag JSON</a>
</div>
<h1>Forhåndsvisning av data</h1>
<div class=page>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
</div>